html, body, #root {
  margin: 0;
  height: 100%;
}

@font-face {
  font-family: 'Play Kiddo';
  src: url('./assets/fonts/PlayKiddo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header-text {
  font-family: 'PlayKiddo', cursive;
}